<plugin name='bean-fields' version='0.6' grailsVersion='1.1.1 &gt; *'>
  <author>Marc Palmer</author>
  <authorEmail>marc@grailsrocks.com</authorEmail>
  <title>Bean Fields - smart tags for command and domain objects</title>
  <description>\
Quick and easy smart rendering of fields of domain and command objects.
</description>
  <documentation>http://grails.org/plugin/bean-fields</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>com.grailsrocks.beanfields.BeanTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>